# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false

 
# Java files
[*.java]
# Use UTF - 8 encoding for international character support
charset = utf-8
# Unix - style line endings for cross - platform compatibility
end_of_line = lf
# 4 - space indentation for better readability
indent_size = 4
indent_style = space
# Ensure a final newline at the end of the file
insert_final_newline = true
# Remove trailing whitespace to keep the code clean
trim_trailing_whitespace = true

